/* Search History */

@media all {
    form#search-history-save .field {
        display: block;
    }
    form#search-history-save .field .field-meta,
    form#search-history-save .field .inputs {
	   width: initial;
	   padding-left: initial;
    }
    form#search-history-save .field .inputs input{
       width: 100%;
    }
}
