/* Search History */

@media all {
    [hidden],
    .hidden {
        display: none;
    }

    form#search-history-save .field {
        display: block;
    }
    form#search-history-save .field .field-meta,
    form#search-history-save .field .inputs {
	   width: initial;
	   padding-left: initial;
    }
    form#search-history-save .field .inputs input{
       width: 100%;
    }

    .dialog-header,
    .dialog-contents,
    .dialog-bottom {
        margin-bottom: 6px;
    }

    .dialog-header {
        display: flex;
        justify-content: flex-end;
    }

    .dialog-header-close-button {
        display: block;
        margin-left: auto;
        padding: 0;
        background-color: transparent;
        border: none;
        box-shadow: none;
    }
}
